.footer{
    background-color: #b3b3b3;
    color: #000000;
    padding: 3em;
    text-align: center;
    border-top: 4px solid #d8940b;
}

.social_list{
    display: flex;
    justify-content: center;
    list-style-type: none;
}

.social_list li{
    margin: 0 1em;
}

.social_list li:hover{
    color: #d8940b;
}

.social_list svg{
    font-size: 1.5em;
    cursor: pointer;
}

.copy_right{
    margin-top: 2em;
}

.copy_right span{
    font-weight: bold;
    color: #d8940b;
    background-color: #000;
    border-radius: 5px;
    padding: 1px;
}




