.footer{
    background-color: #222;
    color: #000000;
    padding: 3em;
    text-align: center;
    border-top: 3px solid #d8940b;
}

.social_list{
    display: flex;
    justify-content: center;
    list-style-type: none;
}

.social_list li{
    margin: 0 1em;
}

.social_list li:hover{
    color: #d8940b;
}

.social_list svg{
    font-size: 1.5em;
    cursor: pointer;
    color: #fff;
    transition: .3s;
}

.social_list svg:hover{
    color: #d8940b;
}

.copy_right{
    margin-top: 2em;
    color: #fff;
}

.copy_right span{
    font-weight: bold;
    color: #d8940b;
}


