.btn{
    background-color: #ffffff;
    color: #000000;
    padding: 0.5em 1em;
    text-decoration: none;
    transition: 0.5s;
    border-radius: 3px;
}

.btn:hover{
    background-color: #d8940b;
}