.navbar{
    display: flex;
    justify-content: space-between;
    background-color: #222;
    padding: 1em;
    border-bottom: 3px solid #d8940b;
}

.nav{
    display: flex;
    flex-direction: row;
}

.nav{
    list-style: none;
    align-items: center;
}

.item{
    margin-right: 1em;
    
}

.item a {
    color: #ffffff;
    text-decoration: none;
    transition: 0.8s;
    border-radius: 8px;
    padding: 6px;
    font-weight: bold;
    letter-spacing: 1px;
}

.item a:hover{
  background-color: #ffffff;
  color: #000000;
}

.img_item{
    width: 80px;
    height: 80px;
    border-radius: 50px;
    border: 2px solid #ebb400;
}

.nav__toggler div{
    width: 2rem;
    height: 0.2rem;
    margin: 0.4rem;
    background-color: #fff;
    transition: 0.4s ease-in;
}

.nav__toggler{
    display: none;
    cursor: pointer;
}

@media screen and (max-width: 780px){

    .nav__toggler{
        display: block;
        align-self: center;
    }

    .nav{
        position: fixed;
        top: 12.5vh;
        right: 0;
        width: 100%;
        height: 60vh;
        background-color: #222;
        flex-direction: column;
        transform: translateX(100%);
        transition: 0.5s ease-in;
        justify-content: center;
        align-items: center;
        font-size: 21px;
    }

    .nav .item{
        margin-bottom: 65px;
    }
}

@media screen and (max-width: 431px){

    .nav{
        top: 11vh;
    }
}

@media screen and (max-width: 400px){
   
    .img_item{
        width: 40px;
        height: 40px;
    }

    .nav__toggler div{
        width: 1.2rem;
        height: 0.2rem;
        margin: 0.4rem;
        background-color: #fff;
        transition: 0.4s ease-in;
    }

    .nav{
        top: 9vh;
    }
}

@media screen and (max-width: 389px){

    .nav{
        top: 11vh;
    }
}

@media screen and (max-width: 320px){
   
    .img_item{
        width: 35px;
        height: 35px;
    }

    .nav__toggler div{
        width: 1.3rem;
        height: 0.3rem;
        margin: 0.3rem;
        background-color: #fff;
        transition: 0.4s ease-in;
    }

    .nav{
        top: 7vh;
    }
}

.nav__active{
    transform: translateX(0);
}

.toggle .line1{
 transform: rotate(-45deg) translate(-4px, 5px);
}

.toggle .line2{
opacity: 0;
}

.toggle .line3{
    transform: rotate(45deg) translate(-9px, -9px);
}