.navbar{
    display: flex;
    justify-content: space-between;
    background-color: #222;
    padding: 1em;
    border-bottom: 3px solid #d8940b;
}

.nav{
    display: flex;
    flex-direction: row;
}

.list{
    display: flex;
    list-style: none;
    align-items: center;
}

.item{
    margin-right: 1em;
    
}

.item a {
    color: #ffffff;
    text-decoration: none;
    transition: 0.8s;
    border-radius: 8px;
    padding: 6px;
    font-weight: bold;
    letter-spacing: 1px;
}

.item a:hover{
  background-color: #ffffff;
  color: #000000;
}

.img_item{
    width: 80px;
    height: 80px;
   
    border-radius: 50px;
    border: 2px solid #ebb400;
}