.navbar{
    display: flex;
    justify-content: space-between;
    background-color: #ffffff;
    padding: 1em;
}

.nav{
    display: flex;
    flex-direction: row;
}

.list{
    display: flex;
    list-style: none;
    align-items: center;
}

.item{
    margin-right: 1em;
}

.item a {
    color: #000000;
    text-decoration: none;
}

.item a:hover{
  color: #FFBB33;
}

.img_item{
    width: 100px;
    height: 70px;
}