.project_container{
    padding: 2em;
}

.title_container{
    display: flex;
    justify-content: space-between;
    margin-bottom: 2em;
}

.title{
    color: #000000;
    letter-spacing: 2px;
}

@media screen and (max-width: 1335px){
    .title_container{    
        justify-content: space-around;
        width: 1000px;
        border: 1px solid red;
    }
}

@media screen and (max-width: 1050px){
    .title_container{
        border: 1px solid red;
        width: 700px;
    }
}

@media screen and (max-width: 770px){
    .title_container{
        border: 1px solid red;
        width: 600px;
    }

    .title{
        font-size: 20px;
        letter-spacing: none;
    } 
}

@media screen and (max-width: 650px){
    .title_container{
        border: 1px solid red;
        width: 350px;

    }

    .title{
        font-size: 18px;
    } 
}